<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include partial_adminheader.ejs %>

        <div class="form-container" id="searchParameter" name="searchParameter">
            <div class="midContent">
              <form class="search" action="/search" method="post" enctype="multipart/form-data">
                <div class="inputs">
                  <input class="stringInput" type="text" placeholder="Search String" name="text" id="text">
                  <select class="categoryInput"id="searchParameter" name="searchParameter">
                    <option>Question Text</option>
                    <option>Course</option>
                  </select>
                  <input class="submitInput" type="submit" value="Search" name="search">
                </div>
              </form>
      
              <script src="/javascripts/script.js"></script>
            </div>
        </div>

        <div class="picContainer midContent">
        <h1> Unanswered Questions </h1>
        
        <% for(var i = 0; i < questions.length; i++){ %>
          <% if(questions[i].state == "unanswered"){ %>
            <div class="questionContainer">
            <a class="qTextContainer" href="/adminQView/<%= questions[i].codeWNum %>">
                <!-- <img class="questPreview" src="/content/<%= questions[i].codeWNum %>.jpg"> -->
                <p class="qText">"<%= questions[i].text %>"</p>
            </a>
            </div>
          <% } %>
        <% } %>
        </div>
      
    </body>
</html>