<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include partial_adminheader.ejs %>

        <div class="midContent">
            <h3>Question</h3>
            <img class="questPreview" src="/content/<%= QCodeWNum %>.jpg">

            <a class="callToUpload">Upload Answer</a>
        </div>

        
    </body>
</html>