<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partial_header.ejs %>

    <div class="form-container">
      <div class="midContent">
        <form class="search" action="/search" method="post" enctype="multipart/form-data">
          <div class="inputs">
            <input class="stringInput" type="text" placeholder="Search String" name="text" id="text">
            <select class="categoryInput" id="searchParameter" name="searchParameter">
              <option>Question Text</option>
              <option>Course</option>
            </select>
            <input class="submitInput" type="submit" value="Search" name="search">
          </div>
        </form>

        <script src="/javascripts/script.js"></script>
      </div>
    </div>
    
    <div class="picContainer midContent">
      <h1> Questions </h1>
      
      <% for(var i = 0; i < questions.length; i++){ %>
        <div class="questionContainer">
          <a class="qTextContainer" href="/content/<%= questions[i].codeWNum %>">
            <!-- <img class="questPreview" src="/content/<%= questions[i].codeWNum %>.jpg"> -->
            <p class="qText">"<%= questions[i].text %>"</p>
          </a>
        </div>
        
      <% } %>
    </div>

  </body>
</html>
