<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include partial_header.ejs %>

        <div class="midContent">
            <p>
                Sorry! Question post does not function as of yet, please send your question to the email provided or send it via Watsapp.
                Please include your username and a picture of the question in the message.
                Thank you.
            </p>
        </div>
    </body>
</html>