<header class="header" id="header">
    <div class="overlay"></div>

    <nav id="nav" class="nav jc-sb ai-c">
      <div class="navLogo">
        <h2>QuizEng</h2>
      </div>

      <a class="navMenu hide-for-desktop" id="hamburger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
      
      <div class="header__links hide-for-mobile">
        <a class="dilink" href="/">Home</a>
        <a class="dilink" href="/postPage">Post</a>
        <a class="dilink" href="#">Contact Tutor</a>
      </div>
    </nav>
  </header>