<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/stylesheets/postStyle.css" />
    </head>
    <body>
        <% include partial_header.ejs %>

        <div class="midContent">
            <form class="postForm" action="/postReceiver" method="post" enctype="multipart/form-data">
                <div class="inContainer">
                    <input class="postIn short" type="text" name="modCode" id="modCode" placeholder="Module Code">
                </div>
                
                <div class="inContainer">
                    <input class="postIn short" type="text" name="topic" id="topic" placeholder="Topic">
                </div>
                
                <div class="descContainer">
                    <input class="postIn long" type="textarea" name="qText" id="qText" placeholder="Question Text">
                </div>
                
                <div class="inContainer">
                    <input type="file" name="qPic" id="qPic">
                </div>
                
                <div class="inContainer">
                    <input type="submit" value="Post">
                </div>
                
            </form>
        </div>
    </body>
</html>