<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>

        <% include partial_header.ejs %>
        
        <div class="midContent">
            <h3>Question</h3>
            <img class="questPreview" src="/content/<%= QCodeWNum %>.jpg">
        </div>
        
        <div class="midContent">
            <h3>Answer</h3>

            <% if(state=="answered"){ %>
                <% for(var i = 0; i < solPages.length; i++){ %>
                    <img class="questPreview" src="/content/<%= solPages[i].image %>">
                <% } %>
            <% }else{ %>
                <p>Sorry, the question hasn't been answered yet</p>
            <% } %>
        </div>
    </body>
</html>