.postForm{
    width: 85%;
    display: block;
    margin: auto;
}

.inContainer{
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
}

.descContainer{
    width: 98%;
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
}

.postIn{
    display: inline-block;
}

.short{
    width: 98%;
    height:29px;
}

.long{
    width: 99%;
    height: 90px;
}
