html{
  font-size: 100%;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  line-height: 1.3;
}

.header{
  box-shadow: 0 10px 10px -5px rgb(0 0 0 / 20%);
  background-color: #2d506d
}

.dilink {
  text-decoration: none;
  font-size: 14px;
  color: hsl(233, 8%, 62%);
}

a:not(:last-child){
  margin-right:32px;
}

nav{
  padding: 12px 24px;
}

.nav{
  display:flex;
  height: 60px;
}

.jc-sb{
  justify-content: space-between;
}

.jc-c{
  justify-content: center;
}

.ai-c{
  align-items:center;
}

.navLogo{
  display:block;
}

.navMenu{
  list-style: none;
  margin:auto 0;
}

span{
  display:block;
  width:30px;
  height:5px;
  background-color:black;
  transform-origin:left;
}

span:not(:last-child){
  margin-bottom: 5px;
}

.open span:first-child{
  transform: rotate(41deg);
}

.open span:last-child{
  transform: rotate(-41deg);
}

.open span:nth-child(2){
  opacity:0;
}

.open .overlay{
  
  position:fixed;
  top:70px;
  bottom:0;
  left:0;
  right:0;
  background-image:linear-gradient(hsl(233,26%,24%), transparent);
  animation: fade-In 300ms ease-in-out forwards;
}

.form-container{
  padding:24px;
  width:100%;
  box-sizing:border-box;
}

.stringInput{
  height: 28px;
  width: 75%;
}

.categoryInput, .submitInput{
  height: 34px;
}

.submitInput{
  width:9%;
}

.questPreview{
  width: 100%;
  display: block;
  margin: auto;
}

.midContent{
  width: 70%;
  display: block;
  margin: 10px auto;
}

.qTextContainer{
  text-decoration: none;
}

.questionContainer{
  margin: 5px auto;
  background-color: #d1d2d8;
  padding: 2px 5px;
}

.qText{
  color: black;
}

@keyframes fade-In{
  from{
    display:none;
    opacity:0;
  }

  to{
    display:block;
    opacity:1;
  }
}

.callToUpload{
  width: 160px;
  text-align: center;
  padding: 6px;
  margin: 5px auto;
  display: block;
  background-color: #5c7f9c;
}

/*===== Desktop Displays =====*/

@media only screen and (min-width:700px){
  .hide-for-desktop{
    display:none;
  }
}

/*===== Mobile Displays =======*/

@media only screen and (min-width: 250px) and (max-width: 700px){
  
  .hide-for-mobile{
    display:none;
  }

  .midContent{
    width: 95%;
  }

  .stringInput, .categoryInput, .submitInput{
    display: block;
    margin: 3px auto;
  }

  .submitInput{
    width: 25%; 
  }
}